<div class="card" style="margin-top: 7px;">
  <div class="card-header comment-table-header" *ngIf="false">
    Comments
  </div>

  <ul class="list-group list-group-flush" *ngIf="commentTableMode === CommentTableMode.SESSION_RESULT">
    <li class="list-group-item" *ngFor="let comment of comments; let i = index">
      <tm-comment-row [isInEditMode]="isInEditMode[i]" [commentModel]="comment"
                      (closeCommentEditFormEvent)="triggerCloseCommentEditFormEvent(i)"
                      (editCommentEvent)="triggerEditFormEvent(i)"
                      (deleteCommentEvent)="triggerDeleteCommentEvent(i)"
                      (saveCommentEvent)="triggerSaveCommentEvent(i, $event)"
      ></tm-comment-row>
    </li>
    <!-- Add new comment row -->
    <li class="list-group-item">
      <tm-comment-row [isInEditMode]="true" [isDiscardButtonEnabled]="false" [commentModel]="newComment"
                      (closeCommentEditFormEvent)="triggerCloseCommentEditFormEvent()"
                      (saveCommentEvent)="triggerAddNewComment($event)"
      ></tm-comment-row>
    </li>
  </ul>

  <ul class="list-group list-group-flush" *ngIf="commentTableMode === CommentTableMode.SESSION_SUBMISSION">
    <li class="list-group-item">
      <tm-comment-row [isInEditMode]="true" [isDiscardButtonEnabled]="false"
                      [commentModel]="comment"
                      [isVisibilityOptionEnabled]="false"
                      (closeCommentEditFormEvent)="triggerCloseCommentEditFormEvent()"
                      (saveCommentEvent)="triggerAddNewComment($event)"
      ></tm-comment-row>
    </li>
  </ul>
</div>
