<div style="margin-top: 7px;">
  <a href='#' *ngIf="isTableHidden" (click)="isTableHidden=false;">
    Click here to add a comment to your response</a>
</div>

<div class="card" style="margin-top: 7px;" *ngIf="!isTableHidden">
  <div class="card-header comment-table-header" *ngIf="false">
    Comments
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let comment of comments; let i = index">
      <tm-comment-row [isInEditMode]="false" [commentModel]="comment"
                      (closeCommentEditFormEvent)="triggerCloseCommentEditFormEvent()"
                      (deleteCommentEvent)="triggerDeleteCommentEvent(i)"
                      (saveCommentEvent)="triggerSaveCommentEvent(i, $event)"
      ></tm-comment-row>
    </li>
    <li class="list-group-item">
      <tm-comment-row [isInEditMode]="true" [isDiscardButtonEnabled]="false"
                      (closeCommentEditFormEvent)="triggerCloseCommentEditFormEvent()"
                      (saveCommentEvent)="triggerSaveCommentEvent(comments.length, $event)"
      ></tm-comment-row>
    </li>
  </ul>
</div>
