<div class="card" style="margin-top: 7px;">
  <div class="card-header comment-table-header" *ngIf="false">
    Comments
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let comment of comments; let i = index">
      <tm-comment-row [isInEditMode]="comment.isInEditMode" [commentModel]="comment"
                      (closeCommentEditFormEvent)="triggerCloseCommentEditFormEvent(comment)"
                      (editCommentEvent)="triggerEditCommentEvent(comment)"
                      (deleteCommentEvent)="triggerDeleteCommentEvent(i)"
                      (saveCommentEvent)="triggerUpdateCommentEvent(i, $event)"
      ></tm-comment-row>
    </li>
    <!-- "Add new comment" row -->
    <li class="list-group-item">
      <tm-comment-row [isInEditMode]="true" [isDiscardButtonEnabled]="false"
                      (commentFormChangeEvent)="triggerNewCommentFormChangeEvent($event)"
                      (saveCommentEvent)="triggerSaveNewCommentEvent($event)"
      ></tm-comment-row>
    </li>
  </ul>

</div>
