<div style="margin-top: 7px;">
  <a href='#' *ngIf="isAddCommentButtonShown" (click)="isHidden=false; isAddCommentButtonShown=false">
    Click here to add a comment to your response</a>
</div>

<div *ngIf="!isHidden">
  <div>
    Your comment about the above response
    <button type="button" class="close" aria-label="Close" ngbTooltip='Discard changes to comment' (click)="triggerCloseCommentBox($event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <input class="form-control"  type="text" [(ngModel)]=commentText (ngModelChange)="triggerCommentDetailsChange($event)">
  </div>
  <button type="button" class="btn btn-secondary btn-sm float-right"  ngbTooltip='Edit this comment'
          (click)="triggerSaveComment()"><i class="fas fa-save"></i> Save</button>
</div>
